/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

/*.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.warning {
    color: orange;
}

.error {
    color: red;
}

.success {
    color: green;
}
.hide{
    display:none;
}
.bg-primary-0 {
    background-color: #379457;
}
.bg-primary-1 {
    background-color: #f5302e;
}
.bg-primary-2 {
    background-color: #c69500;
}
.bg-primary-3 {
    background-color: #187da0;
}
.bg-primary-4 {
    background-color: #2eadd3;
}
.callout-info-0 {
    border-left-color: #379457;
}

.callout-info-1 {
    border-left-color: #f5302e;
}

.callout-info-2 {
    border-left-color: #c69500;
}

.callout-info-3 {
    border-left-color: #187da0;
}

.callout-info-4 {
    border-left-color: #2eadd3;
}
.callout-info-5 {
    border-left-color: coral;
}
.callout-info-6 {
    border-left-color: turquoise;
}

.paginate_button {
    margin-left: 0px !important;
    border: solid 1px #c8ced3 !important;
    border-radius: 0px !important;
}
.paginate_button:first-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.paginate_button:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.paginate_button.current {
    border-color: #20a8d8 !important;
    background-color: #20a8d8 !important;
    border-radius:0px !important;
    color:#fff !important;
}

/*}

&.active .page-link {
    z-index: 1;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border-color;
}

&.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;
}
}*/